In [17]:
import findspark
findspark.init("/Users/DOU2274/spark/spark-3.1.1-bin-hadoop2.7")

from pyspark.sql.types import *
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings('ignore')

In [18]:
spark = SparkSession.builder.appName("temprature calculation").getOrCreate()

In [19]:
schema = StructType([StructField("celsius", ArrayType(IntegerType()))])
t_list = [[35, 36, 32, 30, 40, 42, 38]], [[31, 32, 34, 55, 56]]

In [20]:
t_c = spark.createDataFrame(t_list, schema) 

t_c.createOrReplaceTempView("tC")

In [21]:
t_c.show()

+--------------------+
|             celsius|
+--------------------+
|[35, 36, 32, 30, ...|
|[31, 32, 34, 55, 56]|
+--------------------+

Transform function()

In [22]:
spark.sql("""SELECT celsius,transform(celsius, t -> ((t * 9) div 5) + 32) as fahrenheit FROM tC""").show()

+--------------------+--------------------+
|             celsius|          fahrenheit|
+--------------------+--------------------+
|[35, 36, 32, 30, ...|[95, 96, 89, 86, ...|
|[31, 32, 34, 55, 56]|[87, 89, 93, 131,...|
+--------------------+--------------------+

In [23]:
#Filter()
spark.sql("""
SELECT celsius,
filter(celsius, t -> t > 38) as high FROM tC
""").show()

+--------------------+--------+
|             celsius|    high|
+--------------------+--------+
|[35, 36, 32, 30, ...|[40, 42]|
|[31, 32, 34, 55, 56]|[55, 56]|
+--------------------+--------+

In [26]:
#Exist()
#// Is there a temperature of 38C in the array of temperatures 
spark.sql("""
SELECT celsius,
exists(celsius, t -> t = 38) as threshold FROM tC
""").show()

+--------------------+---------+
|             celsius|threshold|
+--------------------+---------+
|[35, 36, 32, 30, ...|     true|
|[31, 32, 34, 55, 56]|    false|
+--------------------+---------+

In [ ]:
reduce()

In [28]:
mconf = spark.conf.get

In [34]:
spark.sql("SET -v").select("key", "value").show(n=5, truncate=False)

+---------------------------------------------------------+----------------------------------------------------------------+
|key                                                      |value                                                           |
+---------------------------------------------------------+----------------------------------------------------------------+
|spark.sql.adaptive.advisoryPartitionSizeInBytes          |<value of spark.sql.adaptive.shuffle.targetPostShuffleInputSize>|
|spark.sql.adaptive.coalescePartitions.enabled            |true                                                            |
|spark.sql.adaptive.coalescePartitions.initialPartitionNum|<undefined>                                                     |
|spark.sql.adaptive.coalescePartitions.minPartitionNum    |<undefined>                                                     |
|spark.sql.adaptive.enabled                               |false                                                           |
+---------------------------------------------------------+----------------------------------------------------------------+
only showing top 5 rows